<section class="login_section">
<form method="post" class="field"action="/login">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Email" name="email">
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" name="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
    </p>
  </div>
  <p>
   <input type ="submit" value="Login" class="button is-success">
   <a href="/signup" class="button is-info">Signup</a>
 </p>
</form>
</section>

<h2 class="subtitle is-6 has-text-danger "><%= @login_error_message%></h2>



<ul>
<% @users.each do |user| %>
 <li>
   <a href="/user/<%= user.id %>"><%= user.name %></a> | <%= user.email %> | <%= user.id %>
 </li>
<% end %>
</ul>
