<a href="/students" class="button is-warning">
  <span class="icon is-small"><i class="fa fa-arrow-left"></i></span>
  <span>Student List</span>
</a>

<div class="card ">
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4"><%= @student.name %></p>
        <p class="subtitle is-6">Joined - <%= @student.created_at.to_date %></p>
      </div>
    </div>

    <div class="content">
      <%= @student.info %>
    </div>
  </div>
</div>





<h2 class="title">Edit Student Info</h2>
<form method="post" action="/student/<%= @student.id %>">
    <input type="hidden" name="_method" value="put">
    <label for="name" class="label">Name: </label>
    <input type="text" name="name" value="<%= @student.name %>" class="input">
    <label for="info" class="label">Info: </label>
    <input type="text" name="info" value="<%= @student.info %>" class="input">
    <button type="submit" class="button is-success">Update Student Info</button>
</form>

<form method="post" action="/student/<%= @student.id %>">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="button is-danger">Delete This Student</button>
</form>
